@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=vietnamese");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

@layer utilities {
  .animation-deplay-2000 {
    animation-delay: 2s;
  }
  .animation-deplay-4000 {
    animation-delay: 4s;
  }
}
